{% extends 'base.html' %}
{% block content %}<br>
​
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Client Scheduler</h5>
        </div>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>Client Name</th>
                    <th>Medication</th>
                    <th>Session Time</th>
                    <th>Session Link</th>
                    <th><i class="fas fa-edit"></i>Edit</th>
                </tr>
                {% for client in clients %}
                <tr>
                    <td> {{client.user}} </td>
                    <td> {{client.medication}} </td>
                    <td> {{client.group}} </td>
                    <td> {{client.counsellor} </td>
                    <td> {{client.time}} </td>
                    <td> {{client.link}} </td>
                </tr>
                {% endfor %}
​
            </table>
        </div>
    </div>
​
</div>
{% endblock content %}