{% extends 'counsellor/base.html' %} {% load static %}

<!-- Editable table -->
{% block content %}
<div class="card">

    <span onclick="history.back()"> <i class="fas fa-arrow-left fa-2x text-success p-3" aria-hidden="true"></i> </span>
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Support Groups</h3>
    <div class="card-body">
        <div id="table" class="table-editable">
            <table class="table table-bordered table-responsive-md table-striped text-center">
                <thead>
                    <tr>
                        <th class="text-center">Support Group</th>
                        <!-- <th class="text-center">Members</th> -->
                        <th class="text-center">Description</th>
                    </tr>
                </thead>

                <tbody>
                    {% for item in groups %}
                    <tr>
                        <td class="text-center pt-3-half">{{item.name}}</td>
                        <!-- <td class="text-center pt-3-half">#</td> -->
                        <td class="text-center pt-3-half">{{item.description}}</td>
                        <td>
                            <span class="table-add float-right mb-3 mr-2"><a href="/edit/group/{{item.id}}/" class="text-success"><i
                            class="fas fa-edit" aria-hidden="true"></i></a></span>
                        </td>
                        <td>
                            <span class="table-add float-right mb-3 mr-2"><a href="/delete/group{{item.id}}/" class="text-danger"><i
                            class="fas fa-trash" aria-hidden="true"></i></a></span>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
<!-- Editable table -->