{% extends 'base.html' %} {% block content %} {% load static %} {% load crispy_forms_tags %}
<div class="container-fluid" id="con">
    <div class="row">
        {% for item in groups %}
        <div class="col-md-3 col-sm-4">
            <a href="/group/chat/{{item.id}}">
                <img src="{{item.image.url}}" class="img-responsive img-fluid img-thumbnail" style="width: 100%;height:auto" data-toggle="modal" data-target="" data-backdrop="false">
                <h5 class="text-dark">{{item.name}}</h5>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

</div>


</div>
{% endblock %}