{% load static %}
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper white">
            <a href="#!" class="brand-logo">
                <img src="{% static 'images/logo.jpeg' %}" alt="logo" width=25%>
            </a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger black-text"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/" class="black-text">Home</a></li>
                <li><a href="#" class="black-text">Articles</a></li>
                <li><a href="#" class="black-text">Programmes</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}" class="btn waves-effect waves-light black-text">Logout</a></li>
                {% else %}
                <li><a href="{% url 'join' %}" class="btn waves-effect waves-light black-text">Join</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav center-align" id="mobile-demo">
    <img src="{% static 'images/logo.jpeg' %}" alt="logo">
    <hr>
    <li><a href="#">Home</a></li>
    <li><a href="#">Articles</a></li>
    <li><a href="{% url 'join' %}" class="btn waves-effect waves-light black-text">Join</a></li>
</ul>