{% extends 'counsellor/base.html' %} {% block content %}
<div class="container-fluid">
    {% if client %}
    <div class="card">
        <form>
            <input type="button" value="Go back!" onclick="history.back()">
           </form>
        <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Patient Information</h3>
        <div class="card-body">
            <div id="table" class="table-editable">
                <table class="table table-bordered table-responsive-md table-striped text-center">
                    <thead>
                        <tr>
                            <th class="text-center">Prescribed medication</th>
                            <th class="text-center">Session link</th>
                            <th class="text-center">Session time</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for item in client %}
                        <tr>
                            <td class="text-center pt-3-half">{{item.medication}}</td>
                            <td class="text-center pt-3-half"><a href="{{item.link}}">{{item.link}}</a></td>
                            <td class="text-center pt-3-half">{{item.time}}</td>
                            <td>
                                <span class="table-add float-right mb-3 mr-2"><a href="/appointment/{{item.user.id}}" class="text-success"><i
                                class="fas fa-edit fa-2x" aria-hidden="true"></i></a></span>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<br><br>

<div class="container-fluid">
    <div class="row">
        <div class="offset-1 col-md-5">
            <div class="card text-center" style="width:400px;">
                <h6 class=" text-center font-weight-bold text-uppercase">My doctor</h6>
                <hr> {% for item in client %}
                <!-- <img class="card-img-top" src="{{item.counsellor.profile_photo.url}}" alt=""> -->
                <div class="card-body">
                    {% if item.counsellor %}
                    <h4 class="card-title">Dr. {{item.counsellor.user.username}}</h4>
                    <a href="/change/{{user.id}}/" class="btn btn-primary">Change counsellor</a> {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-5 offset-1">
            <div class="card text-center" style="width:400px;">
                <h6 class=" text-center font-weight-bold text-uppercase">My support group</h6>
                <hr> {% for item in client %}
                <!-- <img class="card-img-top" src="{{item.group.image.url}}" alt=""> -->
                <div class="card-body">
                    <h4 class="card-title">{{item.group.name}}</h4>
                    {% if item.group %}
                    <a href="/group/chat/{{item.group.id}}" class="btn btn-primary">View group</a> {% else %}
                    <h6>None</h6>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
        <div class="container">
            <h5>Your medical sheet will be availed once your counsellor adds you as patient</h5>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}