{% extends 'base.html' %} {% load static %} {% block content %}

<style>
    .profile-pic {
        max-width: 200px;
        max-height: 200px;
        margin: 0 auto;
        border-radius: 50%;
    }
</style>
<br>

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card card-body">
            <br>
            <h4 style="text-align: center"> Patient's Records </h4>
            <br>
            <img class="profile-pic" src="{{user.client.profile_photo.url}}">
        </div>


        <div class="card card-body">
            <h5>Name: <span>{{client.user.username}}</span></h5>
            <h5>Issue: <span>{{client.issue}}</span></h5>
        </div>
    </div>
</div>

{% endblock %}